@charset "UTF-8"; 

/*---------------------------------------------------------------------*\
  RESET + SET UP
\*----------------------------------------------------------------------*/
html {
  transition: all 1s ease;
  scroll-behavior: smooth;
}
/* Margin and paddings reset for all the tags */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Removing the bullets from <li> */
li {
  list-style-type: none;
}
/* Disabling the default styles of the text tags */
a {
  text-decoration: none;
}
/* Changing the mouse cursor to a hand icon */
a {
  cursor: pointer;
}
body {
  min-height: 100vh;
  font-family: 'Bona Nova', serif;
}

h1 {font-size: 2.25rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.75rem}
h4 {font-size: 1.5rem}
h5 {font-size: 1rem}

p {
  font-size: 1rem;
  font-family: 'Anek Bangla', sans-serif;
}

/*---------------------------------------------------------------------*\
                                MOBILE FIRST        
\*----------------------------------------------------------------------*/
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.full, .half, .third, .quarter, .fifth {
  width: 100%;
}
.padding-TB {
  padding-top: 20px;
  padding-bottom: 10px;
}
.padding-LR {
  padding-left: 24px;
  padding-right: 24px;
}
h1, h2, h3, h4, h5, a, p {
  color: #282828;
}

/*-------------------------*  Header  *-------------------------*/
header {
  border-bottom: 4px solid #110B31;
  background-color: rgba(228, 228, 228, 0.9);
}
.logo {
  display: flex;
  justify-content: center;
}
.logo div {
  height: 60px;
  width: 60px;
  background-image: url(../img/yale_sm.png);
  background-size: cover;
  transition: all 0.3s ease-in-out;
}
.logo div:hover {
  height: 65px;
  width: 65px;
  background-image: url(../img/yale_sm-hover.png);
}
/*-----------------------*  Search Bar  *-----------------------*/
.search-bar {
  display: none;
}
/*-----------------------*  Navigation Menu  *-----------------------*/
nav li {
  text-align: center;
}
.menu-item {
  border-bottom: 0px solid transparent;
  font-size: 1rem;
  font-family: 'Anek Bangla', sans-serif;
  transition: all 0.3s ease-in-out;
}
.menu-item:hover {
  border-bottom: 2px solid #FC38AF;
  color: #FC38AF;
  letter-spacing: 0.8px;
}

/*-----------------------*  Hero Image  *-----------------------*/
#hero {
  position: relative;
  display: flex;
  margin-top: -250px;
  justify-content: center;
  height: 500px;
  background-image:url("../img/aerial\ view\ 2.jpg");
  background-size: cover;
  z-index: -2;
}
#hero h1 {
  position: absolute;
  top: 50%; 
  display: flex;
  padding: 0 10px;
  color: #F8F8F8;
  background-color: #110B31;
  opacity: 90%;
  text-align: center;
}

/*-----------------------*  Main  *-----------------------*/
.section-A, .section-B, .section-C, .section-D{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  padding: 10px;
  border-radius: 20px;
  width: 80vw;
  row-gap: 20px;
  transition: all 0.3s ease-in-out;
}
.card:hover {
  background-color: #ececec;
}
.card .title {
  border-bottom: 0px solid transparent;
  transition: all 0.3s ease-in-out;
}
.card:hover .title {
  border-bottom: 2px solid #FC38AF;
  color: #FC38AF;
  letter-spacing: 0.8px;
}
.card img {
  max-width: 80%;
  width: 80%;
  display: block;
  object-fit: cover;
  object-position: center center;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}
.card:hover img {
  border-radius: 10px;
  max-width: 83%;
  width: 83%;
  opacity: 1;
}
.section-D {
  row-gap: 20px;
}
.section-D img {
  width: 100vw;
  height: 300px;
  display: block;
  object-fit: cover;
  object-position: center center;
}
.stack {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-bottom: 2px grey solid;
  padding:10px 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.stack:hover {
  background-color: #ececec;
  border-bottom: 2.5px #FC38AF solid;
}
.stack h5, .stack a {
  transition: all 0.3s ease-in-out;
}
.stack:hover h5, .stack:hover a {
  color: #FC38AF;
  letter-spacing: 0.8px;
}

/*-----------------------*  Footer  *-----------------------*/
footer {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding: 40px 0 20px 0;
  background: #fc8338;
}
footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer a {
  border-bottom: 0px solid transparent;
  font-size: 0.8rem;
  font-family: 'Anek Bangla', sans-serif;
  transition: all 0.3s ease-in-out;
}
footer p {
  font-size: 0.8rem;
}
footer a:hover {
  border-bottom: 2px solid #F8F8F8;
  color: #F8F8F8;
  letter-spacing: 0.8px;
}


/*---------------------------------------------------------------------*\
                                MEDIA QUERIES       
\*----------------------------------------------------------------------*/
@media screen and (min-width:740px) 
{
  /*increase fontsacle for larger screens*/
  html {
    font-size:125%;
  }
  body {
    background-color: #282828;
  }
  h1, h2, h3, h4, h5, a, p, input {
    color: #F8F8F8;
  }

  /*-------------------------*  Header  *-------------------------*/
  header {
    border-bottom: 6px solid #110B31;
    height: auto;
    background-color: rgba(17, 11, 49, 90%);
  }
  header div:first-child {
    flex-direction: row;
  }
  .logo div {
    height: 100px;
    width: 276px;
    background-image: url(../img/yale_lg.png);
  }
  .logo div:hover {
    height: 105px;
    width: 288.5px;
    background-image: url(../img/yale_lg-hover.png);
  }

  /*-----------------------*  Search Bar  *-----------------------*/
  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
  }
  .form__input {
    border-radius: 20px;
    padding: 0 20px;
    height: 40px;
    width: 70%;
    text-align: center;
    background-color: #110B31;
    outline: transparent;
    transition: all 0.3s ease-in-out;
  }
  .form__input:focus {
    background-color: #FC38AF;
  }
  .form__input:hover {
    border: solid 2px #FC38AF;
  }
  .form__input::placeholder {
    text-align: center;
    color: #F8F8F8;
    transition: all 0.3s ease-in-out;
  }
  .form__input:focus::placeholder, .form__input:hover::placeholder  {
    color: var(--highlight);
    letter-spacing: 0.8px;
  } 
  .search__icon {
    background-image: url(../img/search-icon.png);
    height: 24px;
    width: 24px;
    background-size: cover;
  }

  /*-----------------------*  Navigation Menu  *-----------------------*/
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  /*-----------------------*  Hero Image  *-----------------------*/
  #hero {
    margin-top: -200px;
    min-height: 400px;
    background-size: cover;
  }
  #hero h1 {
    top: 60%; 
  }

  /*-----------------------*  Main  *-----------------------*/
  .section-A, .section-B, .section-C {
    flex-direction: row;
    column-gap: 20px;
  }
  .card:hover {
    background-color: #3e3e3e;
  }
  .card .title {
    border-bottom: 0px solid transparent;
    transition: all 0.3s ease-in-out;
  }
  .card:hover .title {
    border-bottom: 2px solid #FC38AF;
    color: #FC38AF;
    letter-spacing: 0.8px;
  }
  .card img {
    max-width: 97%;
    width: 97%;
  }
  .card:hover img {
    max-width: 100%;
    width: 100%;
    opacity: 1;
  }
  .stack:hover {
    background-color: #3e3e3e;
  }

  /*-----------------------*  Footer  *-----------------------*/
  footer {
    flex-direction: row;
    background: #fc8338;
  }
  .footer-l {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  footer a, footer p, footer h5 {
    color: #282828;
  }
  footer a:hover {
    border-bottom: 2px solid #F8F8F8;
    color: #F8F8F8;
    letter-spacing: 0.8px;
  }

  .full {
    width: 100%;
  }
  .half {
    width: 50%;
  }
  .third {
    width: 33.33%;
  }
  .quarter {
    width: 25%;
  }
  .fifth {
    width: 20%;
  }
}