@charset "UTF-8"; /* CSS Document */

/*------------------------------------*\
  CUSTOM PROPERTIES
\*------------------------------------*/
:root {
  --primary-font: 'Philosopher', sans-serif;
  --secondary-font: 'Mulish', sans-serif;
  
  --font-xs: 0.75rem; /*  12px  */
  --font-s: 1rem; /*  16px  */
  --font-m: 1.25rem; /*  20px  */
  --font-l: 1.5rem; /*  24px  */
  --font-xl: 2rem; /*  32px  */
  --font-xxl: 2.5rem; /*  40px  */
  --font-xxxl: 3rem; /*  48px  */
  --font-gigant: 3.5rem; /*  48px  */

  --primary-color: #00356B;
  --secondary-color: #6B2D0B;
  --tertiary-color: #C09040;
  --border: #0B2238;
  
  --primary-text: #474747;
  --secondary-text: #6B6B6B;
  --tertiary-text: #F8F8F8;
  --primary-background: #F8F8F8;
  --secondary-background: #CCE6FF;
  --tertiary--backgorund: #FFDF80;
}

/*------------------------------------*\
  RESET + SET UP
\*------------------------------------*/
html {
  transition: all 1s ease;
  scroll-behavior: smooth;
}
/* Margin and paddings reset for all the tags */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}
/* Avoiding images issues */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}
div {
  display: flex;
}
/* Removing the bullets from <li> */
li {
  list-style-type: none;
}
/* Disabling the default styles of the text tags */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  border-bottom: none;
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}
/* Changing the mouse cursor to a hand icon */
a, button {
  cursor: pointer;
}
/* Setting up the selected text */
::selection {
  background-color: var(--primary-text);
  color: var(--secondary-background);
}
/* Avoiding typography and form issues */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}
/* Avoiding issues with the svg tag */
svg {
  display: block;
}
/* Settin up the typography */
body {
  position: relative;
  min-height: 100vh;
  font-family: var(--primary-font);
  font-size: 100%;
  color: var(--secondary-text);
  background: white;
}
h1, h2, h3, h4, h5 {
  font-family: var(--primary-font);
}
h1 {font-size: var(--font-xxxl);}
h2 {font-size: var(--font-xxl);}
h3 {font-size: var(--font-xl);}
h4 {font-size: var(--font-l);}
h5 {font-size: var(--font-m);}
p, a {
  font-size: var(--font-s);
  font-family: var(--secondary-font);
}

/*------------------------------------*\
  MOBILE FIRST
\*------------------------------------*/
.column {
  width: 100%;
  diplay: flex;
  flex-direction: column;
}
/*responsive framework*/
.full, .half, .third, .two_thirds, .quarter {
  width: 100%;
  display: flex;
}
.centered-x {
  justify-content: center;
}
.centered-y {
  align-items: center;
}
.right {
  justify-content: flex-end;
}
.left {
  justify-content: flex-start;
}
.logo-small {
  display: flex;
}
.logo-small svg {
  width: 60px;
  fill: var(--primary-color);
}
.logo-large {
  display: none;
}
.search-bar {
  display: none;
}
nav ul {
  list-style-type: none;
}
nav li {
  text-align: center;
  width: 100%;
  height: 40px;
}
nav a {
  line-height: 40px;
  color: #00356b;
}
/*header*/
header {
  border-bottom: 4px solid var(--border);
  padding: 20px 24px 0 24px;
  background: var(--primary-background);
}
header div {
  flex-direction: column;
}
/*hero image*/
#hero {
  display:flex;
  min-height:400px;
  background-image:url("../img/hero-small.jpg");
  background-size:cover;
}
#hero h1 {
  padding:10px;
  width:100%;
  color: var(--tertiary-text);
  background-color: var(--secondary-color);
  opacity: 90%;
  text-align:center;
}
.container {
  display: flex;
  flex-direction: column;
}
.section-A, .section-C, .section-D {
  flex-direction: column;
  padding: 10px 24px;
}
.section-B {
  padding: 10px 24px;
}
.section-A div a img, 
.section-A a img,
.section-C a img,
.section-D div img
{
  height: calc(400px - 56px);
}
.stack {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-bottom: 2px grey solid;
  padding:10px 0;
  width: 100%;
  
}
.more {
  color: var(--secondary-color);
}
/*footer*/
footer {
  display: flex;
  padding: 10px;
  color: var(--tertiary-text);
  background: var(--primary-color);
}


/*------------------------------------*\
  #MEDIA QUERIES
\*------------------------------------*/
@media screen and (min-width:740px) 
{
  /*increase fontsacle for larger screens*/
  html {font-size:125%;}
  header {
    border-bottom: 4px solid var(--border);
    height: auto;
    background-color: var(--primary-color);
  }
  header div {
    flex-direction: row;
  }
  .logo-small {
    display: none;
  }
  .logo-large {
    display: flex;
  }
  .logo-large h1 {
    font-size: var(--font-gigant);
    color: var(--tertiary-text);
  }
  .search-bar {
    display: flex;
  }
  .form__input {
    border: transparent;
    border-radius: 20px;
    padding: 0 20px;
    height: 40px;
    width: 70%;
    text-align: center;
    color: var(--primary-text);
    background-color: var(--primary-background);
    outline: transparent;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  .form__input:focus {
    color: var(--primary-color);
    background-color: var(--tertiary--backgorund);
  }
  .form__input::placeholder {
    text-align: center;
    color: var(--secondary-text);
    transition: color 0.3s ease-in-out;
  }
  .form__input:focus::placeholder {
    color: var(--tertiary--backgorund);
  } 
  .search__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
  }
  .search__icon svg {
    height: 32px;
    fill: var(--primary-background);
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  nav li {
    padding: 0 8px;
    width: auto;
  }
  nav a {
    color: var(--tertiary-text);
  }
  #hero {
  background-image:url("../img/hero-large.jpg");
  }
  .section-A, .section-C, .section-D {
    flex-direction: row;
  }
  .section-A {
    column-gap: 20px;
    height: 600px;
  }
  .section-A div a {
    height: 50%;
  }
  .section-A div a img {
    height: calc(100% - 56px);
  }
  .section-A a img {
    height: calc(100% - 56px);
  }
  .section-C {
    column-gap: 20px;
    height: 400px;
  }
  .section-C a img {
    height: calc(100% - 56px);
  }
  .section-D {
    column-gap: 20px;
    height: 400px;
  }
  .section-D div img {
    height: calc(100% - (30% + 56px));
  }
  .full {
    width: 100%;
  }
  .half {
    width: 50%;
  }
  .third {
    width: 33.33%;
  }
  .two_thirds {
    width: 66.66%;
  }
  .quarter {
    width: 25%;
  }
}