@charset "UTF-8";
/*set font scale 100% for smaller screens*/
html {font-size:100%;
transition: all 1s ease;}

/*universal reset*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
img {
  width: 100%;
  max-width: 100%;
  margin-bottom:20px;
}

/*mobile first*/
body {
  background: white;
}
section {}
.container {}
.row {
  padding-top: 30px;
  padding-bottom: 30px;
  diplay: flex;
  flex-direction: column;
}

/*responsive framework*/
/*.full, .half, .third, .two_thirds, .quarter, .fifth, .sixth {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
	padding:20px;
}*/

/*typography*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bona Nova', serif;
  padding-bottom: 10px;
}
p, a {
  font-family: 'Noto Sans', sans-serif;
  font-size: 32px;
}
h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}

a {
  text-decoration: none;
  font-size: 32px;
  align-items: center;
}

/*header*/
.header {
  display: flex;
  flex-direction: column;
  background-color: ghostwhite;
  padding: 0 60px;
  border-bottom: 4px solid slategrey;
}
.header__top {
  display: flex;
  flex-direction: column;
  column-gap: 64px;
  padding: 24px 0;
}
.header__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
}
.header__logo a {
  text-align: center;
  color: blue;
  font-family: 'Bona Nova', serif;
  border: solid white;
  display: block;
  font-size: 120px;
}
.header__search {
  display: none;
}

.header__nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}
.header__nav ul li a{
  list-style-type: none;
  color: black;
}
.header__login a {color: black;}

/*hero image*/
#hero {display:flex;
align-items: flex-end;
justify-content: center;
min-height:600px;
background-image:url("../img/hero.jpeg");
background-size:cover;}
#hero h1 {background-color:rgba(255,255,255,0.73);
width:100%;padding:20px;text-align:center;}

#banner {
  padding:20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FC466B; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.supersize {
  text-align: center;
  font-size: 6rem;
  color: white;
}
.stack {
  border-bottom: 2px grey solid;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
    flex-direction: column;
    padding-bottom:10px;
}
.more {
  text-transform: uppercase;
  color: crimson;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  padding-top: 20px;
}
/*footer*/
#footer {
  display: flex;
  flex-direction: column;
  background: #333;
}
#footer ul {
  list-style-type: none;
}
#footer a {
  color: white;
  line-height: 24px;
}

/*begin css for larger screens here*/
@media screen and (min-width:740px) {
  /*increase fontsacle for larger screens*/
  html {font-size:125%;}
  body {}
  .header {
    background-color: #00356b;
  }
  .header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 64px;
    padding: 24px 0;
  }
  .header__bottom {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .header__logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
  }
  .header__search {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 16px;
    height: 64px;
  }
  .search__input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfe1e5;
    border-radius: 32px;
    height: 100%;
    width: 100%;
    background: white;
    box-shadow: none;
  }
  .search__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dfe1e5;
    height: 100%;
    width: 64px;
    background: white;
  }
  .header__nav ul {
    flex-direction: row;
  }
  .header__nav li {
    text-decoration: none;
    text-align: center;
    height: 40px;
    width: 250px;
  }
  .header__nav ul li a {
    color: whitesmoke;
  }
  .header__login a {color: whitesmoke;}
  
  .container {
    max-width: 1280px;
    margin: auto;
    background: white;
  }
  .row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  #footer {
  
    margin: auto;
    flex-direction: row;
	  height:100px;
    background: #333;
    color: white;
  }
 
  .full {
    width: 100%;
  }
  .half {
    width: 50%;
  }
  .third {
    width: 33.33%;
  }
  .two_thirds {
    width: 66.66%;
  }
  .quarter {
    width: 25%;
  }
  .fifth {
    width: 20%;
    padding: 10px;
  }
}